# FastAPI and server
fastapi
uvicorn
pydantic
firebase-admin

# File uploads
python-multipart

# AI Model inference
torch
torchvision
Pillow
numpy

# Hybrid DB structure
pymongo
minio
opencv-python-headless
librosa
transformers
groq
